<mat-toolbar>
  <button mat-button routerLink="/messages" routerLinkActive="selected">
    <mat-icon>email</mat-icon> Mesagerie
  </button>
  <button mat-button routerLink="/profile" routerLinkActive="selected">
    <app-avatar [name]="(name | async) || ''" [size]="25"></app-avatar> Profil
  </button>
  <!-- <button mat-button><mat-icon>search</mat-icon> Căutare</button> -->
  <span class="spacer"></span>

  <button mat-icon-button [matMenuTriggerFor]="settings">
    <mat-icon>settings</mat-icon>
  </button>
  <mat-menu #settings="matMenu">
    <button mat-menu-item (click)="onLogout()">Deconectare</button>
  </mat-menu>
</mat-toolbar>
<mat-divider color="primary"></mat-divider>
