@import "material.scss";

.mat-toolbar {
  gap: 1rem;
  background-color: white;
}

.mat-button.selected:not(.admin) {
  background-color: rgba(0, 0, 0, 0.1);
}

.admin.selected {
  background: $accent-lighter;
}

.spacer {
  flex: 1 1 auto;
}

app-avatar {
  position: relative;
  bottom: -0.3rem;
}
