<form>
  <mat-form-field class="example-full-width">
    <mat-icon matPrefix>search</mat-icon>
    <input
      type="text"
      placeholder="Cautare prieteni..."
      aria-label="Number"
      matInput
      [formControl]="textControl"
    />
  </mat-form-field>
</form>
{{ searchText$ | async }}

<mat-selection-list
  *ngIf="isConnected; else notConnected"
  #contacts
  [multiple]="false"
>
  <mat-list-option
    (click)="selectUser(user)"
    *ngFor="let user of users; last as last"
    [value]="user"
  >
    <app-avatar
      mat-list-avatar
      [name]="user.name"
      [badge]="true"
      [online]="user.online"
    ></app-avatar>
    <h4 mat-line [matTooltip]="user.name">{{ user.name }}</h4>
    <span mat-line [matTooltip]="user.email">{{ user.email }}</span>
    <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
  </mat-list-option>
</mat-selection-list>
<ng-template #notConnected
  ><mat-icon color="warn">warning</mat-icon>Nu sunteti conectat!</ng-template
>
