<app-toolbar></app-toolbar>
<div class="container">
  <app-profile
    *ngIf="clickedUser"
    [isFromAdmin]="true"
    [inputUser]="clickedUser"
  ></app-profile>
  <mat-paginator
    [length]="totalElements$ | async"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 50, 100]"
    (page)="getPage($event)"
    aria-label="Select page"
  >
  </mat-paginator>
  <table
    mat-table
    [dataSource]="(users$ | async) || []"
    class="mat-elevation-z8"
  >
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id.</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="avatar">
      <th mat-header-cell *matHeaderCellDef>Avatar</th>
      <td mat-cell *matCellDef="let element">
        <app-avatar
          [name]="element.firstName + ' ' + element.lastName"
          [size]="25"
        ></app-avatar>
      </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element" [matTooltip]="element.email">
        {{ element.email }}
      </td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef>Rol</th>
      <td mat-cell *matCellDef="let element" [matTooltip]="element.role">
        {{ element.role }}
      </td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef>Dată creare</th>
      <td
        mat-cell
        *matCellDef="let element"
        [matTooltip]="'' + (element.createdAt | date: 'long')"
      >
        {{ element.createdAt | date: "longDate" | translateRo }}
      </td>
    </ng-container>

    <ng-container matColumnDef="updatedAt">
      <th mat-header-cell *matHeaderCellDef>Dată modificare</th>
      <td
        mat-cell
        *matCellDef="let element"
        [matTooltip]="'' + (element.updatedAt | date: 'long')"
      >
        {{ element.updatedAt | date: "longDate" | translateRo }}
      </td>
    </ng-container>

    <ng-container matColumnDef="enabled">
      <th mat-header-cell *matHeaderCellDef>Activat</th>
      <td mat-cell *matCellDef="let element" [matTooltip]="element.enabled">
        {{ element.enabled ? "Da" : "Nu" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="locked">
      <th mat-header-cell *matHeaderCellDef>Blocat</th>
      <td mat-cell *matCellDef="let element" [matTooltip]="element.locked">
        {{ element.locked ? "Da" : "Nu" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef>Prenume</th>
      <td mat-cell *matCellDef="let element" [matTooltip]="element.firstName">
        {{ element.firstName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef>Nume</th>
      <td mat-cell *matCellDef="let element" [matTooltip]="element.lastName">
        {{ element.lastName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="birthDate">
      <th mat-header-cell *matHeaderCellDef>Data nasterii</th>
      <td
        mat-cell
        *matCellDef="let element"
        [matTooltip]="'' + (element.birthDate | date: 'long')"
      >
        {{ element.birthDate | date: "longDate" | translateRo }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      (click)="selectUser(row)"
      [class.clicked]="clickedUser?.id === row.id"
      *matRowDef="let row; columns: displayedColumns"
    ></tr>
  </table>
</div>
