<app-toolbar></app-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <mat-action-list
      *ngIf="
        (connectionStatus$ | async) === 'OPEN' && users !== [];
        else notConnected
      "
    >
      <h3 mat-subheader>Contacte</h3>
      <button
        mat-list-item
        (click)="selectUser(user)"
        *ngFor="let user of users; last as last"
      >
        <ng-boring-avatars-beam-avatar
          mat-list-avatar
          [name]="user"
          [colors]="['#172C3C', '#274862', '#995052', '#D96831', '#E6B33D']"
          [inputSize]="40"
        ></ng-boring-avatars-beam-avatar>
        <h4 mat-line>{{ user }}</h4>
        <p mat-line class="demo-2">"hello"</p>
        <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
      </button>
    </mat-action-list>
    <ng-template #notConnected>You are not connected!</ng-template>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="messages-list">
      <div class="header">
        <h2>Received messages</h2>
        <app-status [status]="connectionStatus$ | async"></app-status>
      </div>
      <mat-divider></mat-divider>
      <div class="messages-list"></div>

      <button class="btn btn-primary" (click)="onSendGeneratedMessage()">
        Send Message
      </button>
      <mat-list>
        <mat-list-item *ngFor="let message of receivedMessages">
          <ng-boring-avatars-beam-avatar
            mat-list-avatar
            [name]="message.sender"
            [colors]="['#172C3C', '#274862', '#995052', '#D96831', '#E6B33D']"
            [inputSize]="40"
          ></ng-boring-avatars-beam-avatar>
          <mat-card class="mat-elevation-z0">{{ message.text }}</mat-card>
          <h6>{{ message.createdOn | date: "medium" }}</h6>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="messages-input">
      <input
        matInput
        placeholder="Trimiteti un mesaj"
        id="message"
        type="text"
        #message
      />
      <button
        mat-flat-button
        color="primary"
        (click)="onSendMessage(message.value)"
      >
        Trimite
      </button>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
