<app-toolbar></app-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <mat-action-list
      *ngIf="
        (connectionStatus$ | async) === 'OPEN' && users !== [];
        else notConnected
      "
    >
      <h3 mat-subheader>Contacte</h3>
      <button
        mat-list-item
        (click)="selectUser(user)"
        *ngFor="let user of users; last as last"
      >
        <ng-boring-avatars-beam-avatar
          mat-list-avatar
          [name]="user"
          [colors]="['#172C3C', '#274862', '#995052', '#D96831', '#E6B33D']"
          [inputSize]="40"
        ></ng-boring-avatars-beam-avatar>
        <h4 mat-line>{{ user }}</h4>
        <p mat-line class="demo-2">"hello"</p>
        <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
      </button>
    </mat-action-list>
    <ng-template #notConnected>You are not connected!</ng-template>
    <p>{{ users }}</p>
  </mat-sidenav>
  <mat-sidenav-content>
    <div id="messages">
      <div class="header">
        <h2>Received messages</h2>
        <app-status [status]="connectionStatus$ | async"></app-status>
      </div>
      <mat-divider></mat-divider>
      <div class="messages-list"></div>

      <button class="btn btn-primary" (click)="onSendMessage()">
        Send Message
      </button>
      <ol>
        <!-- we will use Angular binding to populate list of messages -->
        <li class="message" *ngFor="let message of receivedMessages">
          {{ message }}
        </li>
      </ol>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
