@import "material.scss";
mat-sidenav-container {
  height: calc(100vh - 65px);
  background-color: transparent;
  mat-sidenav {
    width: 200px;
    background-color: rgba($color: white, $alpha: 0.8);
    display: grid;
    grid-template-rows: auto 1fr;
    app-status {
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: whitesmoke;
    }
    ::ng-deep.mat-list-item-content {
      padding: 0 0 0 16px;
    }
  }
  mat-sidenav-content {
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 1rem;
    .messages-list {
      overflow-y: auto;
      mat-list-item {
        height: auto;
      }
      mat-list-item:first-of-type {
        display: flex;
        justify-content: center;
        padding-bottom: 1rem;
      }
      ::ng-deep.mat-list-item-content {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr;
        column-gap: 1rem;
      }
      app-avatar {
        grid-row: span 2;
      }
    }
    .messages-input {
      background-color: white;
      align-self: flex-end;
      padding: 0 1rem;
      .messages-input-top {
        padding-top: 0.5rem;
        height: max-content;
        display: flex;
        justify-content: space-between;
      }
      .messages-input-textarea {
        width: 100%;
      }
    }
  }
}
.header {
  display: flex;
  justify-content: space-between;
}
.file-button {
  text-overflow: ellipsis;
  overflow: hidden;
}

.messages-contact {
  display: flex;
  background-color: rgba($color: white, $alpha: 0.7);
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: 1rem;
}

mat-card {
  background-color: rgba($color: white, $alpha: 0.8);
}

.search-form {
  padding-top: 4px;
  padding-left: 10px;
  mat-form-field {
    width: 170px;
  }
}

ng-template {
  padding-left: 10px;
}
