<app-toolbar></app-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <form class="search-form" onSubmit="return false;">
      <mat-form-field class="example-full-width">
        <mat-icon matPrefix class="search-icon" [class.active]="search"
          >person_search</mat-icon
        >
        <input
          type="text"
          placeholder="Căutare persoane..."
          aria-label="Number"
          matInput
          [formControl]="textControl"
        />
      </mat-form-field>
    </form>
    <mat-selection-list
      *ngIf="
        (connectionStatus$ | async) === 'OPEN' && users.length;
        else notFound
      "
      #contacts
      [multiple]="false"
    >
      <mat-list-option
        (click)="selectUser(user)"
        *ngFor="let user of users; last as last; index as index"
        [value]="user"
      >
        <app-avatar
          mat-list-avatar
          [name]="user.name"
          [badge]="true"
          [online]="user.online"
        ></app-avatar>

        <h4 mat-line [matTooltip]="user.name">{{ user.name }}</h4>
        <span
          mat-line
          style="color: darkviolet"
          *ngIf="user.newMessages > 0; else noReceived"
          ><mat-icon inline="true">mail</mat-icon> Mesaj nou!</span
        >
        <ng-template #noReceived
          ><span mat-line [matTooltip]="user.email">{{
            user.email
          }}</span></ng-template
        >
        <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
      </mat-list-option>
    </mat-selection-list>
    <ng-template #notFound>
      <ng-container *ngIf="search !== ''; else notConnected"
        ><b
          ><mat-icon style="padding: 0 8px" color="primary">search_off</mat-icon
          >Nu sunt rezultate.</b
        ></ng-container
      >
    </ng-template>
    <ng-template #notConnected>
      <p style="padding: 0 8px">
        <b><mat-icon color="warn">warning</mat-icon>Nu sunteti conectat!</b
        ><br /><span class="error">{{ wsError$ | async }}</span>
      </p>
    </ng-template>
    <app-status [status]="connectionStatus$ | async"></app-status>
  </mat-sidenav>

  <mat-sidenav-content *ngIf="selected?.email !== ''">
    <div class="messages-contact">
      <app-avatar
        mat-list-avatar
        [name]="selected?.name || ''"
        [badge]="true"
        [online]="selected?.online || false"
      ></app-avatar>
      <h2 style="margin: 0 0 5px">{{ selected?.name || "" }}</h2>
    </div>

    <div class="messages-list">
      <mat-list>
        <mat-list-item>
          <button
            mat-button
            (click)="loadMore()"
            *ngIf="!(endOfMessages$ | async); else endConv"
          >
            Mai vechi...
          </button>
          <ng-template #endConv>Sfârșitul conversației</ng-template>
        </mat-list-item>
        <mat-list-item *ngFor="let message of received$ | async; let i = index">
          <app-avatar
            [name]="message.sender | emailBase: users"
            [size]="30"
          ></app-avatar>
          <div *ngIf="editMessageIndex !== i; else editModeMessage">
            <mat-card
              class="mat-elevation-z0"
              style="padding: 10px"
              [class.removed]="message.status == 'REMOVED'"
            >
              <div class="files from-message">
                <button
                  class="file-button caption"
                  mat-stroked-button
                  type="button"
                  *ngFor="let attachment of message.attachments"
                  (click)="downloadStart(attachment.id, attachment.name, i)"
                  [matTooltip]="attachment.name"
                >
                  <img
                    *ngIf="attachment | validFile: 'image'"
                    [src]="attachment.file | safeHtml: attachment.name"
                    alt="Supposed image"
                    width="155"
                    style="max-height: 100px; object-fit: cover"
                  />
                  <div>
                    <span class="restricted">{{
                      attachment.name.split(".")[0]
                    }}</span
                    ><span> .{{ attachment.name.split(".")[1] }}</span>
                  </div>
                </button>
              </div>
              <div
                class="message-options"
                [class.blocked]="
                  message.status === 'REMOVED' ||
                  message.receiver !== selected?.email
                "
              >
                <button mat-icon-button (click)="removeMessage(message.id)">
                  <mat-icon color="primary">delete</mat-icon>
                </button>
                <button mat-icon-button (click)="editMessage(message, i)">
                  <mat-icon color="primary">edit</mat-icon>
                </button>
              </div>
              <span [class.removed-text]="message.status == 'REMOVED'">{{
                message.text
              }}</span>
            </mat-card>
            <mat-progress-bar
              *ngIf="i === selectedToDownload && download"
              [mode]="download.state == 'PENDING' ? 'buffer' : 'determinate'"
              [value]="download.progress"
            >
            </mat-progress-bar>
          </div>
          <ng-template #editModeMessage>
            <div>
              <mat-card class="mat-elevation-z0">
                <div class="files from-message">
                  <button
                    class="file-button caption"
                    mat-stroked-button
                    type="button"
                    *ngFor="
                      let attachment of message.attachments;
                      let idx = index
                    "
                    (click)="removeAttachment(attachment, message.id, true)"
                    [matTooltip]="attachment.name"
                  >
                    <img
                      *ngIf="attachment | validFile: 'image'"
                      [src]="attachment.file | safeHtml: attachment.name"
                      alt="Supposed image"
                      width="155"
                      style="max-height: 100px; object-fit: cover"
                    />
                    <div>
                      <span class="restricted">{{
                        attachment.name.split(".")[0]
                      }}</span
                      ><span> .{{ attachment.name.split(".")[1] }}</span>
                    </div>
                    <mat-icon class="clear-icon big">clear</mat-icon>
                  </button>
                </div>
                <div class="message-options">
                  <button mat-icon-button (click)="exitEdit()">
                    <mat-icon color="primary">edit_off</mat-icon>
                  </button>
                </div>
                <form class="search-form" onSubmit="return false;">
                  <mat-form-field appearance="outline" style="width: 100%">
                    <textarea
                      matInput
                      cdkTextareaAutosize
                      #autosize="cdkTextareaAutosize"
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="5"
                      id="text"
                      type="text"
                      [formControl]="editMessageControl"
                    ></textarea>
                    <button
                      matSuffix
                      mat-icon-button
                      (click)="onSendEditMessage(message.id)"
                    >
                      <mat-icon>save</mat-icon>
                    </button>
                  </mat-form-field>
                </form>
              </mat-card>
            </div>
          </ng-template>
          <h5 class="flex-between">
            <span>{{ message.createdOn | date: "medium" }}</span>
            <span *ngIf="message.edited"
              ><mat-icon inline>edit</mat-icon>MODIFICAT ({{
                message.updatedOn | date: "medium"
              }})</span
            >
            <span
              ><span [ngSwitch]="message.status">
                <mat-icon *ngSwitchCase="'SENT'" inline>done</mat-icon>
                <mat-icon *ngSwitchCase="'RECEIVED'" inline>done_all</mat-icon>
                <mat-icon *ngSwitchCase="'READ'" inline>visibility</mat-icon>
                <mat-icon *ngSwitchCase="'REMOVED'" inline
                  >remove_done</mat-icon
                > </span
              >{{ message.status }}</span
            >
          </h5>
        </mat-list-item>
      </mat-list>
    </div>

    <div class="messages-input">
      <mat-divider></mat-divider>
      <form [formGroup]="messageForm" (ngSubmit)="onSendMessage($event)">
        <div class="messages-input-top">
          <div class="files">
            <button
              *ngFor="
                let file of files.controls;
                let idx = index;
                let last = last
              "
              class="file-button smaller caption"
              mat-stroked-button
              type="button"
              [matTooltip]="file.value.name"
              (click)="removeAttachment(file.value, idx)"
            >
              <div>
                <span class="restricted">{{
                  file.value.name.split(".")[0]
                }}</span
                ><span> .{{ file.value.name.split(".")[1] }}</span>
              </div>
              <mat-progress-bar
                class="app-progress-bar"
                *ngIf="upload && last"
                [mode]="upload.state == 'PENDING' ? 'buffer' : 'determinate'"
                [value]="upload.progress"
              >
              </mat-progress-bar>
              <mat-icon class="clear-icon">clear</mat-icon>
            </button>
            <button
              class="file-button smaller caption"
              mat-stroked-button
              type="button"
              (click)="fileInput.click()"
              [class.hidden]="files.controls.length > 8"
            >
              <mat-icon>attach_file</mat-icon>Fișier
            </button>
            <input
              hidden
              id="file"
              type="file"
              #fileInput
              (change)="onFileInput(fileInput.files)"
            />
          </div>

          <button
            mat-icon-button
            color="primary"
            style="position: absolute; right: 8px"
          >
            <mat-icon>send</mat-icon>
          </button>
        </div>
        <mat-form-field appearance="outline" class="messages-input-textarea">
          <mat-label
            >Trimiteti mesaj catre {{ selected?.name || "" }}</mat-label
          >
          <textarea
            matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
            id="text"
            type="text"
            formControlName="text"
            (keyup.enter)="onSendMessage($event)"
          ></textarea>
          <mat-error>Continutul mesajului e gol!</mat-error>
        </mat-form-field>
      </form>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
