<!-- <button mat-button>
  <div>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-icon matPrefix>search</mat-icon>
        <input
          type="text"
          placeholder="Pick one"
          aria-label="Number"
          matInput
          [formControl]="myControl"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredOptions | async"
            [value]="option.name"
          >
            {{ option.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>

  <form #f="ngForm">
    <mat-form-field>
      <input
        matInput
        [matAutocomplete]="auto"
        name="user"
        #searchField="ngModel"
        [(ngModel)]="currentSearch"
        (ngModelChange)="doSearch()"
      />
    </mat-form-field>

    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let user of users | async" [value]="user.name">
        {{ user.name }}
      </mat-option>
    </mat-autocomplete>
  </form>
</button> -->
