@import "material.scss";

mat-grid-list {
  width: 70vw;
  height: calc(100vh - 65px);
  mat-grid-tile:first-of-type {
    background-color: $primary-default;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    ::ng-deep.mat-grid-tile-content {
      align-items: flex-end;
      text-shadow: -2px -2px 0 rgba(255, 255, 255, 0.8),
        2px -2px 0 rgba(255, 255, 255, 0.8), -2px 2px 0 rgba(255, 255, 255, 0.8),
        2px 2px 0 rgba(255, 255, 255, 0.8);
    }
  }
  mat-grid-tile:nth-of-type(n + 2):nth-of-type(-n + 8) {
    background-color: $primary-lighter;
    color: $primary-lighter-contrast;
    border: 1px solid $primary-default;
  }
  mat-grid-tile:nth-of-type(n + 9) {
    background-color: white;
    border: 1px solid $primary-lighter;
    ::ng-deep.mat-grid-tile-content {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-end;
      margin: 0.25rem;
    }
  }
}
